<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inspector.css') }}">
  <meta charset="UTF-8">
  <meta name="clientid" content="{{ client_id }}">
</head>

<body>
  <div class="title" id="title">
  </div>
  <ul id="msgs">
  </ul>
  <script type="module" src="{{ url_for('static', filename='js/pages/messages.js') }}"></script>
</body>

</html>
